body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./images/background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    position: relative; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 400px;
    max-width: 90%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.social-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.social-login button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    width: 100%;
    max-width: 360px;
    padding: 12px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.social-login button:nth-child(1) {
    background-color: hsl(120, 37%, 62%);
}

.social-login button:nth-child(1)::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./images/google.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
}
.social-login button:nth-child(2) {
    background-color: #3b5998;
}

.social-login button:nth-child(2)::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./images/facebook.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
}

.social-login button:nth-child(3) {
    background-color: #342f2f;
}

.social-login button:nth-child(3)::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./images/pngwing.com.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
}
.cat-image {
    position: absolute;
    top: -30px; 
    left: 50%; 
    transform: translateX(-50%);
    width: 80px; 
    height: auto;
    z-index: 10; 
}


p {
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
